CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "event_template_program_point_child" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "program_point_id" integer not null, "include_in_program" tinyint(1) not null default '1', "include_in_calculation" tinyint(1) not null default '1', "active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, foreign key("event_template_id") references "event_templates"("id") on delete cascade, foreign key("program_point_id") references "event_template_program_points"("id") on delete cascade);
CREATE UNIQUE INDEX "etppc_unique" on "event_template_program_point_child" ("event_template_id", "program_point_id");
CREATE TABLE IF NOT EXISTS "event_template_program_point_child_pivot" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "program_point_child_id" integer not null, "include_in_program" tinyint(1) not null default '1', "include_in_calculation" tinyint(1) not null default '1', "active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, "show_title_style" tinyint(1) default '1', "show_description" tinyint(1) default '1', foreign key("event_template_id") references "event_templates"("id") on delete cascade, foreign key("program_point_child_id") references "event_template_program_points"("id") on delete cascade);
CREATE UNIQUE INDEX "et_child_unique" on "event_template_program_point_child_pivot" ("event_template_id", "program_point_child_id");
CREATE TABLE IF NOT EXISTS "places" ("id" integer primary key autoincrement not null, "name" varchar not null, "description" text, "tags" text, "starting_place" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, "latitude" numeric, "longitude" numeric);
CREATE TABLE IF NOT EXISTS "place_distances" ("id" integer primary key autoincrement not null, "from_place_id" integer not null, "to_place_id" integer not null, "distance_km" float, "api_source" varchar, "created_at" datetime, "updated_at" datetime, foreign key("from_place_id") references "places"("id") on delete cascade, foreign key("to_place_id") references "places"("id") on delete cascade);
CREATE UNIQUE INDEX "place_distance_unique" on "place_distances" ("from_place_id", "to_place_id");
CREATE TABLE IF NOT EXISTS "sessions" (
"id" TEXT,
  "user_id" REAL,
  "ip_address" TEXT,
  "user_agent" TEXT,
  "payload" TEXT,
  "last_activity" INTEGER
);
CREATE TABLE IF NOT EXISTS "model_has_permissions" (
"permission_id" TEXT,
  "model_type" TEXT,
  "model_id" TEXT
);
CREATE TABLE IF NOT EXISTS "role_has_permissions" (
"permission_id" INTEGER,
  "role_id" INTEGER
);
CREATE TABLE IF NOT EXISTS "cache" (
"key" TEXT,
  "value" TEXT,
  "expiration" INTEGER
);
CREATE TABLE IF NOT EXISTS "failed_jobs" (
"id" TEXT,
  "uuid" TEXT,
  "connection" TEXT,
  "queue" TEXT,
  "payload" TEXT,
  "exception" TEXT,
  "failed_at" TEXT
);
CREATE TABLE IF NOT EXISTS "jobs" (
"id" TEXT,
  "queue" TEXT,
  "payload" TEXT,
  "attempts" TEXT,
  "reserved_at" TEXT,
  "available_at" TEXT,
  "created_at" TEXT
);
CREATE TABLE IF NOT EXISTS "job_batches" (
"id" TEXT,
  "name" TEXT,
  "total_jobs" TEXT,
  "pending_jobs" TEXT,
  "failed_jobs" TEXT,
  "failed_job_ids" TEXT,
  "options" TEXT,
  "cancelled_at" TEXT,
  "created_at" TEXT,
  "finished_at" TEXT
);
CREATE TABLE IF NOT EXISTS "contract_templates" (
"id" TEXT,
  "name" TEXT,
  "content" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "model_has_roles" (
"role_id" INTEGER,
  "model_type" TEXT,
  "model_id" INTEGER
);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" (
"email" TEXT,
  "token" TEXT,
  "created_at" TEXT
);
CREATE TABLE IF NOT EXISTS "migrations" (
"id" INTEGER,
  "migration" TEXT,
  "batch" INTEGER
);
CREATE TABLE IF NOT EXISTS "cache_locks" (
"key" TEXT,
  "owner" TEXT,
  "expiration" TEXT
);
CREATE UNIQUE INDEX cache_key_unique ON cache(key);
CREATE TABLE IF NOT EXISTS "event_template_starting_place_availability" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "start_place_id" integer not null, "end_place_id" integer not null, "available" tinyint(1) not null default '0', "note" text, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "taxes" ("id" integer primary key autoincrement not null, "name" varchar not null, "percentage" numeric not null, "apply_to_base" tinyint(1) not null default '0', "apply_to_markup" tinyint(1) not null default '0', "is_active" tinyint(1) not null default '1', "description" text, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "event_template_tax" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "tax_id" integer not null, "created_at" datetime, "updated_at" datetime);
CREATE UNIQUE INDEX "event_template_tax_event_template_id_tax_id_unique" on "event_template_tax" ("event_template_id", "tax_id");
CREATE INDEX "event_template_tax_event_template_id_index" on "event_template_tax" ("event_template_id");
CREATE INDEX "event_template_tax_tax_id_index" on "event_template_tax" ("tax_id");
CREATE TABLE IF NOT EXISTS "event_templates" ("id" integer primary key autoincrement not null, "name" varchar not null, "slug" varchar not null, "duration_days" integer, "featured_image" text, "event_description" text, "gallery" text, "office_description" text, "notes" text, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, "transfer_km" numeric, "program_km" numeric, "transfer_km2" text, "program_km2" text, "bus_id" numeric, "markup_id" numeric, "is_active" tinyint(1) not null default '1', "seo_title" text, "seo_description" text, "seo_keywords" text, "seo_canonical" text, "seo_og_title" text, "seo_og_description" text, "seo_og_image" text, "seo_twitter_title" text, "seo_twitter_description" text, "seo_twitter_image" text, "seo_schema" text, "subtitle" varchar, "transport_notes" text, "start_place_id" integer, "end_place_id" integer, "show_title_style" tinyint(1) default '1', "show_description" tinyint(1) default '1');
CREATE TABLE IF NOT EXISTS "event_template_event_template_program_point" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "event_template_program_point_id" integer not null, "day" integer not null, "order" integer not null, "notes" text, "include_in_program" tinyint(1) not null default '1', "include_in_calculation" tinyint(1) not null default '1', "active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, "show_title_style" tinyint(1) default '1', "show_description" tinyint(1) default '1', foreign key("event_template_id") references "event_templates"("id") on delete cascade, foreign key("event_template_program_point_id") references "event_template_program_points"("id") on delete cascade);
CREATE INDEX "event_template_event_template_program_point_temp_event_template_id_day_order_index" on "event_template_event_template_program_point" ("event_template_id", "day", "order");
CREATE TABLE IF NOT EXISTS "users" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "email" TEXT,
  "email_verified_at" TEXT,
  "password" TEXT,
  "remember_token" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT,
  "type" TEXT,
  "status" TEXT
);
CREATE TABLE IF NOT EXISTS "roles" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "guard_name" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "permissions" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "guard_name" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "tags" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "visibility" TEXT,
  "status" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT,
  "deleted_at" TEXT
);
CREATE TABLE IF NOT EXISTS "currencies" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "symbol" TEXT,
  "exchange_rate" REAL,
  "last_updated_at" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "buses" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "capacity" INTEGER,
  "package_price_per_day" INTEGER,
  "package_km_per_day" INTEGER,
  "extra_km_price" REAL,
  "created_at" TEXT,
  "updated_at" TEXT,
  "currency" TEXT,
  "convert_to_pln" INTEGER
);
CREATE TABLE IF NOT EXISTS "markups" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "percent" INTEGER,
  "discount_percent" INTEGER,
  "discount_start" TEXT,
  "discount_end" TEXT,
  "is_default" INTEGER,
  "min_daily_amount_pln" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "insurances" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "price_per_person" REAL,
  "active" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT,
  "deleted_at" TEXT,
  "insurance_per_day" REAL,
  "insurance_per_person" REAL,
  "insurance_enabled" REAL
);
CREATE TABLE IF NOT EXISTS "hotel_rooms" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "notes" TEXT,
  "people_count" INTEGER,
  "price" INTEGER,
  "currency" TEXT,
  "convert_to_pln" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT,
  "capacity" TEXT,
  "standard" TEXT
);
CREATE TABLE IF NOT EXISTS "contractors" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "street" TEXT,
  "house_number" TEXT,
  "city" TEXT,
  "postal_code" TEXT,
  "status" TEXT,
  "office_notes" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT,
  "deleted_at" TEXT
);
CREATE TABLE IF NOT EXISTS "contacts" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "first_name" TEXT,
  "last_name" TEXT,
  "phone" TEXT,
  "email" TEXT,
  "notes" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT,
  "deleted_at" TEXT
);
CREATE TABLE IF NOT EXISTS "payment_types" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "payment_statuses" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "payers" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "task_statuses" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "color" TEXT,
  "icon" TEXT,
  "order" INTEGER,
  "is_default" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "todo_statuses" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "color" TEXT,
  "bgcolor" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT,
  "deleted_at" TEXT
);
CREATE TABLE IF NOT EXISTS "events" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_template_id" INTEGER,
  "name" TEXT,
  "client_name" TEXT,
  "client_email" TEXT,
  "client_phone" TEXT,
  "start_date" TEXT,
  "end_date" TEXT,
  "participant_count" INTEGER,
  "total_cost" INTEGER,
  "status" TEXT,
  "notes" TEXT,
  "created_by" INTEGER,
  "assigned_to" REAL,
  "created_at" TEXT,
  "updated_at" TEXT,
  "duration_days" INTEGER,
  "transfer_km" INTEGER,
  "program_km" INTEGER,
  "bus_id" REAL,
  "markup_id" REAL
);
CREATE TABLE IF NOT EXISTS "event_template_qties" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "qty" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT,
  "gratis" INTEGER,
  "staff" INTEGER,
  "driver" INTEGER
);
CREATE TABLE IF NOT EXISTS "event_template_program_points" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "description" TEXT,
  "office_notes" TEXT,
  "pilot_notes" TEXT,
  "duration_hours" INTEGER,
  "duration_minutes" INTEGER,
  "featured_image" TEXT,
  "gallery_images" TEXT,
  "unit_price" REAL,
  "group_size" INTEGER,
  "currency_id" INTEGER,
  "parent_id" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT,
  "convert_to_pln" INTEGER,
  "order" INTEGER,
  "featured_image_original_name" TEXT
);
CREATE TABLE IF NOT EXISTS "event_template_program_point_parent" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "parent_id" INTEGER,
  "child_id" INTEGER,
  "order" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_template_program_point_tag" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_template_program_point_id" INTEGER,
  "tag_id" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_template_tag" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_template_id" INTEGER,
  "tag_id" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_template_hotel_days" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_template_id" INTEGER,
  "day" INTEGER,
  "hotel_room_ids_qty" TEXT,
  "hotel_room_ids_gratis" TEXT,
  "hotel_room_ids_staff" TEXT,
  "hotel_room_ids_driver" TEXT,
  "notes" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_template_day_insurance" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_template_id" INTEGER,
  "day" INTEGER,
  "insurance_id" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_template_price_per_person" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_template_id" INTEGER,
  "event_template_qty_id" INTEGER,
  "currency_id" INTEGER,
  "price_per_person" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT,
  "start_place_id" INTEGER,
  "transport_cost" numeric,
  "price_base" numeric,
  "markup_amount" numeric,
  "tax_amount" numeric,
  "price_with_tax" numeric,
  "tax_breakdown" TEXT
);
CREATE TABLE IF NOT EXISTS "event_program_points" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_id" INTEGER,
  "event_template_program_point_id" INTEGER,
  "day" INTEGER,
  "order" REAL,
  "unit_price" INTEGER,
  "quantity" INTEGER,
  "total_price" INTEGER,
  "notes" TEXT,
  "include_in_program" INTEGER,
  "include_in_calculation" INTEGER,
  "active" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_snapshots" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_id" INTEGER,
  "type" TEXT,
  "name" TEXT,
  "description" TEXT,
  "event_data" TEXT,
  "program_points" TEXT,
  "calculations" TEXT,
  "currency_rates" TEXT,
  "total_cost_snapshot" INTEGER,
  "created_by" INTEGER,
  "snapshot_date" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_histories" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "event_id" INTEGER,
  "user_id" INTEGER,
  "action" TEXT,
  "field" TEXT,
  "old_value" TEXT,
  "new_value" TEXT,
  "description" TEXT,
  "ip_address" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "tasks" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "title" TEXT,
  "description" TEXT,
  "due_date" TEXT,
  "status_id" INTEGER,
  "priority" TEXT,
  "author_id" INTEGER,
  "assignee_id" INTEGER,
  "parent_id" REAL,
  "order" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT,
  "deleted_at" TEXT
);
CREATE TABLE IF NOT EXISTS "task_comments" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "content" TEXT,
  "task_id" INTEGER,
  "user_id" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "task_attachments" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT,
  "file_path" TEXT,
  "mime_type" TEXT,
  "size" TEXT,
  "task_id" INTEGER,
  "user_id" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "conversations" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "title" TEXT,
  "type" TEXT,
  "created_by" INTEGER,
  "last_message_at" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "conversation_participants" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "conversation_id" INTEGER,
  "user_id" INTEGER,
  "joined_at" TEXT,
  "last_read_at" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "messages" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "conversation_id" INTEGER,
  "user_id" INTEGER,
  "content" TEXT,
  "type" TEXT,
  "attachment_path" TEXT,
  "attachment_name" TEXT,
  "is_edited" INTEGER,
  "edited_at" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "kategoria_szablonus" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "nazwa" TEXT,
  "opis" TEXT,
  "uwagi" TEXT,
  "parent_id" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "contact_contractor" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "contractor_id" INTEGER,
  "contact_id" INTEGER,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "hotel_room_tag" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "hotel_room_id" TEXT,
  "tag_id" TEXT,
  "created_at" TEXT,
  "updated_at" TEXT
);
CREATE TABLE IF NOT EXISTS "event_types" ("id" integer primary key autoincrement not null, "name" varchar not null, "desc" text, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "event_template_event_type" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "event_type_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("event_template_id") references "event_templates"("id") on delete cascade, foreign key("event_type_id") references "event_types"("id") on delete cascade);
CREATE UNIQUE INDEX "event_template_event_type_event_template_id_event_type_id_unique" on "event_template_event_type" ("event_template_id", "event_type_id");
CREATE TABLE IF NOT EXISTS "transport_types" ("id" integer primary key autoincrement not null, "name" varchar not null, "desc" text, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "event_template_transport_type" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "transport_type_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("event_template_id") references "event_templates"("id") on delete cascade, foreign key("transport_type_id") references "transport_types"("id") on delete cascade);
CREATE UNIQUE INDEX "event_template_transport_type_event_template_id_transport_type_id_unique" on "event_template_transport_type" ("event_template_id", "transport_type_id");
CREATE TABLE IF NOT EXISTS "event_price_descriptions" ("id" integer primary key autoincrement not null, "description" text not null, "created_at" datetime, "updated_at" datetime, "name" varchar not null);
CREATE TABLE IF NOT EXISTS "event_template_event_price_description" ("id" integer primary key autoincrement not null, "event_template_id" integer not null, "event_price_description_id" integer, "created_at" datetime, "updated_at" datetime, foreign key("event_template_id") references "event_templates"("id") on delete cascade, foreign key("event_price_description_id") references "event_price_descriptions"("id") on delete set null);
CREATE TABLE IF NOT EXISTS "blog_posts" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "content" text not null, "status" varchar not null, "published_at" datetime, "is_featured" tinyint(1) not null default '0', "deleted_at" datetime, "created_at" datetime, "updated_at" datetime);
CREATE UNIQUE INDEX "blog_posts_slug_unique" on "blog_posts" ("slug");
CREATE TABLE IF NOT EXISTS "media" ("id" integer primary key autoincrement not null, "disk" varchar not null default 'public', "path" varchar not null, "filename" varchar not null, "extension" varchar, "mime" varchar, "size" integer, "width" integer, "height" integer, "title" varchar, "alt" varchar, "caption" text, "description" text, "created_at" datetime, "updated_at" datetime);
CREATE UNIQUE INDEX "media_disk_path_unique" on "media" ("disk", "path");
CREATE INDEX "media_extension_index" on "media" ("extension");
CREATE TABLE IF NOT EXISTS "notifications" ("id" varchar not null, "type" varchar not null, "notifiable_type" varchar not null, "notifiable_id" integer not null, "data" text not null, "read_at" datetime, "created_at" datetime, "updated_at" datetime, primary key ("id"));
CREATE INDEX "notifications_notifiable_type_notifiable_id_index" on "notifications" ("notifiable_type", "notifiable_id");
